<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] | Klorofil - Free Bootstrap Dashboard Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <environment include="Development">
        <!-- VENDOR CSS -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="~/lib/linearicons/style.css">
        <link rel="stylesheet" href="~/lib/chartist/css/chartist-custom.css">

        <!-- MAIN CSS -->
        <link rel="stylesheet" href="~/lib/klorofil/css/main.css">
        <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
        <link rel="stylesheet" href="~/lib/klorofil/css/demo.css">

        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <environment exclude="Development">
        <!-- VENDOR CSS -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/lib/linearicons/style.css">
        <link rel="stylesheet" href="~/lib/chartist/css/chartist-custom.css">
        <!-- MAIN CSS -->
        <link rel="stylesheet" href="~/lib/klorofil/css/main.css">
        <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
        <link rel="stylesheet" href="~/lib/klorofil/css/demo.css">

        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("Headers", required: false)

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="~/lib/klorofil/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/lib/klorofil/img/favicon.png">

</head>
<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <partial name="_NavBar" />
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <partial name="_SideBar" />
        <!-- END LEFT SIDEBAR -->
        @* <partial name="_CookieConsentPartial" />*@

        <!-- MAIN -->
        <div class="main">
            @RenderBody()
        </div>
        <!-- END MAIN -->
        <div class="clearfix"></div>
        <footer>
            <div class="container-fluid">
                <p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
            </div>
        </footer>
    </div>

    <!-- Javascript -->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-slimscroll/jquery.slimscroll.js"></script>
        <script src="~/lib/jquery.easy-pie-chart/jquery.easypiechart.js"></script>
        <script src="~/lib/chartist/js/chartist.min.js"></script>
        <script src="~/lib/klorofil/scripts/klorofil-common.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/metisMenu/metisMenu.js"></script>
        <script src="~/lib/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="~/lib/jquery.easy-pie-chart/jquery.easypiechart.js"></script>
        <script src="~/lib/chartist/js/chartist.min.js"></script>
        <script src="~/lib/klorofil/scripts/klorofil-common.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>