<html lang="en" class="fullscreen-bg">
<head>
    <title>@ViewData["Title"] | Klorofil - Free Bootstrap Dashboard Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/lib/linearicons/style.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/lib/klorofil/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="~/lib/klorofil/css/demo.css">

    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("Headers", required: false)

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="~/lib/klorofil/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/lib/klorofil/img/favicon.png">
</head>
<body>
    @RenderBody()
</body>
</html>
